#root {
  position: relative;
}

.View {
  width: 100%;
  display: flex;
  flex-direction: row;
}

input:focus, button:focus {
  outline: none;
}

.topbar-links {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  font-weight: 600;
  margin: 20px 10px;
  overflow: hidden;
}

.navbox {
  margin-top: 50px;
  max-width: 50%;
  margin-left: calc(25% - 20px);
  padding: 10px;
  border: 1px solid #333;
  box-shadow: 2px 2px 4px #333;
}

.navbox-title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
}

.navbox-title-shadow {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  color: #33333322
}

.box {
  padding: 10px;
  width: 500px;
  margin-left: calc(50% - 260px);
  min-width: 300px;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 50px;
  margin-bottom: 20px;
}

.inline-box {
  display: inline-block;
  margin: 0px;
  margin: 0px 10px;
  vertical-align: top;
  margin-bottom: 20px;
}

.pair-button {
  background-color: #dddddd;
  border: 0px;
  padding: 10px;
  width: calc(50% - 0px);
  text-align: left;
  cursor: pointer;
}

.pair-button-selected {
  background-color: #34931b;
  color: white;
}

.field-container {
  width: calc(50% - 0px);
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.field-title {
  margin: 0px;
  font-size: 13px;
}

.field-input {
  margin-top: 3px;
  border: 1px solid #dddddd;
  padding: 4px;
  border-radius: 2px;
  width: calc(100% - 24px);
  height: 20px;
}

.action-button {
  width: 100%;
  border: 0px;
  border-radius: 0px;
  margin-top: 10px;
  height: 30px;
  color: white;
  background-image: linear-gradient(#777 20%, black 80%);
  cursor: pointer;
}

.footer {
  width: 100%;
  background: #333;
  height: 120px;
  padding-top: 25px;
  color: white;
}

.notification-bar {
  padding: 10px;
  text-align: center;
  font-size: 13px;
  background-color: #33333322;
  margin-bottom: 20px;
}

.notification-bar-fail {
  background-color: #fddfdf;
  color: #fe0100;
}

.notification-bar-success {
  background-color: #edfbd7;
}

.cart-td {
  border: 0;
  margin: 0;
  padding: 5px;
  padding-top: 10px;
  border-bottom: 1px solid lightgrey;
  vertical-align: top;
  font-size: 12px;
}

.cancel-button {
  background-color: #cd6667;
  padding: 8px;
  color: white;
  border: 0px;
  border-radius: 1px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 12px;
}

.cancel-button:hover {
  background-color: #cd6660;
}

.cart-th {
  border-bottom: 2px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.justified {
  text-align: justify !important;
}

.justified:after {
  content: "" !important;
  display: inline-block !important;
  width: 100% !important;
}

.justified img {
  height: 200px !important;
  display: inline-block !important;
}

.postview-container {
  width: 94%;
  min-width: 600px;
  margin: 20px 0px;
  padding: 3% 3%;
  background-color: #33333388;
  min-height: 100px;
}

.itemview-container {
  width: calc(50% - 10px);
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.itemview-image-container {
  max-width: 45%;
  display: inline-block;
  overflow: hidden;
}

.itemview-image {
  max-width: 100%;
  max-height: 400px;
}

.itemview-input-group {
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 10px);
  margin-left: 10px;
  padding: 5px;
}

.itemviewer-sub-container {
  overflow: hidden;
}

.itemviewer-sub-container label {
  vertical-align: top;
  margin-top: 5px;
}

.itemviewer-sub-container input {
  vertical-align: top;
  margin-top: 0px;
}

.itemview-container tr {
  overflow: hidden;
}

.itemview-container td {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.itemviewer-input {
  height: 25px;
  border: 1px solid grey;
  padding: 3px 5px;
  width: 100%;
}

.dropdown-button {
  width: calc(100% - 10px);
  width: 100%;
  background-color: white;
  border: 0px;
  border-left: 5px solid #33333366;
  width: 100%;
  padding-left: 5px;
  text-align: left;
  width: 100%;
  height: 30px;
  cursor: pointer
}

.dropdown-button:hover {
  background-color: #33333311;
}

.viewer-table {
  margin-left: 10%;
  width: 80%;
  overflow-x: auto;
}

.viewer-table th {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.viewer-table td {
  padding-left: 5px;
  padding-right: 5px;
}

.viewer-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn {
  background: transparent;
  border: 0px;
  font-size: 13px;
  cursor: pointer;
}

.btn-primary {

}

.topbar-mobile-links {
  display: none;
}

.footer-right-container {
  float: 'right';
  margin-right: 20
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .topbar-desktop-links {
    display: none !important;
  }
  .mobile-menu {
    display: inline-block;
    float: right;
    font-size: 34px;
    margin-top: 7.5px;
    margin-right: 20px;
  }
  .topbar-mobile-links {
    position:fixed;
    top: 0px;
    left: 0px;
    background-color: #33333399;
    width: 100%;
    height: 100%;
    z-index: 888;
  }
  .topbar-links-container {
    background: #fffffffe;
    width: calc(100% - 70px);
    height: 100%;
    display: inline-block;
  }
  .topbar-link-action-container {
    display: inline-block;
    width: 30px;
    color: white;
    vertical-align: top;
  }
  .topbar-button {
    width: calc(100% - 20px);
    min-height: 30px;
    padding: 5px 15px;
    border: 0px;
    text-decoration: none;
    color: #333;
    text-align: left;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }
  .box {
    max-width: calc(100% - 20px);
    margin-left: 0px;
  }
  .footer {
    height: auto;
    min-height: 150px;
  }
  .topbar-links {
    margin: 0;
  }
  .footer-right-container {
    float: none;
    margin-right: 0;
    opacity: 0.8;
  }
  .field-container {
    display: block;
    width: 100%;
  }

  .box {
    border: 0px;
    margin-top: 20px;
  }
}