html {
  --bar-bg: #222d31;
  --bar-color: white;
}

.bar {
  position: fixed;
  height: calc(100% - 0px);
  overflow: auto;
  width: 200px;
  padding: 10px;
  background-color: var(--bar-bg);
  color: var(--bar-color);
}